<p>
    User <a href="<%= authorLink %>"><%= author.name %></a> commented your
    <% if (comment.parent) { %>
        comment
    <% } else { %>
        profile
    <% } %>
</p>
<p>
    <%=comment.text%>
</p>