<div>Hello, you are registered on our sites composedream.com</div>
<div>Follow the link for confirmation</div>
<a href="<%=confirmLink%>"><%=confirmLink%></a>
<div>If you don't do it, please ignore this letter.</div>